In [1]:
import graphlab

In [2]:
people = graphlab.SFrame('people_wiki.csv')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\VISHAL\AppData\Local\Temp\graphlab_server_1511691521.log.0

This non-commercial license of GraphLab Create for academic use is assigned to vishvishu14@gmail.com and will expire on November 23, 2018.

Finished parsing file C:\Users\VISHAL\people_wiki.csv

Parsing completed. Parsed 100 lines in 0.702499 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 26690 lines. Lines per second: 25756.7

Finished parsing file C:\Users\VISHAL\people_wiki.csv

Parsing completed. Parsed 59071 lines in 1.75076 secs.

In [3]:
elton = people[people['name']=='Elton John']

In [4]:
elton

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [8]:
elton['words_count'] = graphlab.text_analytics.count_words(elton['text'])
elton_table = elton[['words_count']].stack('words_count', new_column_name = ['words', 'count'])

In [14]:
elton_table.head()
elton.head()

Columns:
	URI	str
	name	str
	text	str
	words_count	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+
|          words_count          |
+-------------------------------+
| {'all': 1L, 'six': 1L, 'pr... |
+-------------------------------+
[1 rows x 4 columns]

In [10]:
elton_table.sort('count', ascending=False)

Columns:
	words	str
	count	int

Rows: 255

Data:
+-------+-------+
| words | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [15]:
elton['tf-idf'] = graphlab.text_analytics.tf_idf(elton['words_count'])
elton.head()

Columns:
	URI	str
	name	str
	text	str
	words_count	dict
	tf-idf	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|          words_count          |             tf-idf            |
+-------------------------------+-------------------------------+
| {'all': 1L, 'six': 1L, 'pr... | {'all': 0.0, 'six': 0.0, '... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [21]:
people['words_count'] = graphlab.text_analytics.count_words(people['text'])
people['td-idf'] = graphlab.text_analytics.tf_idf(people['words_count'])
elton = people[people['name'] == 'Elton John']

In [23]:
elton

Columns:
	URI	str
	name	str
	text	str
	words_count	dict
	td-idf	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|          words_count          |             td-idf            |
+-------------------------------+-------------------------------+
| {'all': 1L, 'six': 1L, 'pr... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [24]:
elton_table = elton[['td-idf']].stack('td-idf', new_column_name = ['words', 'tf-idf']).sort('tf-idf', ascending=False)

In [25]:
elton_table

Columns:
	words	str
	tf-idf	float

Rows: 255

Data:
+---------------+---------------+
|     words     |     tf-idf    |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [27]:
victoria = people[people['name']=='Victoria Beckham']
victoria.head()

Columns:
	URI	str
	name	str
	text	str
	words_count	dict
	td-idf	dict

Rows: 1

Data:
+-------------------------------+------------------+
|              URI              |       name       |
+-------------------------------+------------------+
| <http://dbpedia.org/resour... | Victoria Beckham |
+-------------------------------+------------------+
+-------------------------------+-------------------------------+
|              text             |          words_count          |
+-------------------------------+-------------------------------+
| victoria caroline beckham ... | {'millionin': 1L, 'saying'... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             td-idf            |
+-------------------------------+
| {'millionin': 7.7283988512... |
+-------------------------------+
[1 rows x 5 columns]

In [28]:
graphlab.distances.cosine(victoria['td-idf'][0], elton['td-idf'][0])

0.9567006376655429

In [29]:
paul = people[people['name']=='Paul McCartney']
graphlab.distances.cosine(paul['td-idf'][0], elton['td-idf'][0])

0.8250310029221779

In [32]:
knn_model = graphlab.nearest_neighbors.create(people, features=['td-idf'], label='name')

Starting brute force nearest neighbors model training.

In [33]:
knn_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 14.511ms     |

| Done         |         | 100         | 693.995ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    Elton John   |      0.0       |  1   |
|      0      |   Phil Collins  | 0.76399026764  |  2   |
|      0      |   Rod Stewart   | 0.773333333333 |  3   |
|      0      |   Annie Lennox  | 0.776623376623 |  4   |
|      0      |    Barry Gibb   | 0.780952380952 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [36]:
vict = knn_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11.507ms     |

| Done         |         | 100         | 501.353ms    |

+--------------+---------+-------------+--------------+

In [40]:
vict[vict['reference_label']=='david Beckham']

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: Unknown

Data:
	[]

In [41]:
knn_model = graphlab.nearest_neighbors.create(people, features=['words_count'], distance='cosine', label='name')

Starting brute force nearest neighbors model training.

In [42]:
knn_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 13.522ms     |

| Done         |         | 100         | 466.332ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [43]:
knn_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 9.506ms      |

| Done         |         | 100         | 446.317ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [44]:
victoria

Columns:
	URI	str
	name	str
	text	str
	words_count	dict
	td-idf	dict

Rows: 1

Data:
+-------------------------------+------------------+
|              URI              |       name       |
+-------------------------------+------------------+
| <http://dbpedia.org/resour... | Victoria Beckham |
+-------------------------------+------------------+
+-------------------------------+-------------------------------+
|              text             |          words_count          |
+-------------------------------+-------------------------------+
| victoria caroline beckham ... | {'millionin': 1L, 'saying'... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             td-idf            |
+-------------------------------+
| {'millionin': 7.7283988512... |
+-------------------------------+
[1 rows x 5 columns]